body {
  background-color: #90b1c2;
}


header, footer, nav, #main {
  background-color: #bdc1c3;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

#wrapper {
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;
}

header {
  border: 1px solid green;
}

header > h1 {
  text-align: center;

}

nav {
  border: 1px solid blue;
  height: 50px; /* temporary */
}

#main {
  border: 1px solid magenta;
  text-align: center;
}

footer {
  border: 1px solid yellow;
  text-align: center;
}
footer > span {
  font-size: 9pt;

}
